# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [29]:
# To get File Path
file_path = "../WeatherPy/output_data/cities.csv"

cities_df = pd.read_csv(file_path)

cities_df['Date'] = cities_df['Date'].astype(int)
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,mount isa,-20.7333,139.5000,98.60,25,79,6.91,AU,1612055033
1,punta arenas,-53.1500,-70.9167,51.80,62,0,26.46,CL,1612054652
2,puerto ayora,-0.7393,-90.3518,78.01,89,49,5.99,EC,1612055034
3,hilo,19.7297,-155.0900,80.60,57,75,8.05,US,1612055034
4,esperance,-33.8667,121.9000,68.00,64,0,13.80,AU,1612055034
...,...,...,...,...,...,...,...,...,...
562,nawabshah,26.2483,68.4096,44.60,87,0,4.68,PK,1612054918
563,brainerd,46.3580,-94.2008,30.20,74,90,6.91,US,1612055147
564,saint-leu,-21.1500,55.2833,75.99,61,3,1.52,RE,1612055107
565,salamanca,40.8333,-6.0000,45.00,51,100,4.00,ES,1612055140
566,hamilton,39.1834,-84.5333,32.00,93,90,4.61,US,1612055114

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
gmaps.configure(api_key=g_key)

In [20]:
locations = cities_df[['Lat','Lng']]
locations

         Lat       Lng
0   -20.7333  139.5000
1   -53.1500  -70.9167
2    -0.7393  -90.3518
3    19.7297 -155.0900
4   -33.8667  121.9000
..       ...       ...
562  26.2483   68.4096
563  46.3580  -94.2008
564 -21.1500   55.2833
565  40.8333   -6.0000
566  39.1834  -84.5333

[567 rows x 2 columns]

In [21]:
humidity_cities = cities_df['Humidity']
humidity_cities
# cities_df['Humidity'].max()

0      25
1      62
2      89
3      57
4      64
       ..
562    87
563    74
564    61
565    51
566    93
Name: Humidity, Length: 567, dtype: int64

In [22]:
max_humidity = humidity_cities.max()


# Plot Heatmap
fig = gmaps.figure(center=(0,0),zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_cities, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius=3, opacity=0.6)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don’t contain all three conditions. You want to be sure the weather is ideal.

weather_fit_df = cities_df.loc[(cities_df['Max Temp'] < 80) & (cities_df['Max Temp'] > 70) & (cities_df['Wind Speed'] < 10) & (cities_df['Cloudiness'] == 0)]

weather_fit_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
63,kaeo,-35.1000,173.7833,72.00,60,0,5.01,NZ,1612054847
111,port blair,11.6667,92.7500,79.09,78,0,6.67,IN,1612054986
149,ambilobe,-13.2000,49.0500,72.73,93,0,2.68,MG,1612054845
218,saint-joseph,-21.3667,55.6167,78.80,65,0,8.05,RE,1612055077
232,saint-philippe,-21.3585,55.7679,78.80,65,0,8.05,RE,1612054958
268,ahipara,-35.1667,173.1667,72.28,49,0,5.99,NZ,1612055087
276,pitimbu,-7.4706,-34.8086,78.80,83,0,5.75,BR,1612054839
314,jalingo,8.8833,11.3667,74.88,19,0,3.58,NG,1612055096
326,imbituba,-28.2400,-48.6703,78.80,89,0,5.75,BR,1612054847
363,kangaba,11.9333,-8.4167,71.35,19,0,5.93,ML,1612055107
381,saint-pierre,-21.3393,55.4781,78.80,65,0,8.05,RE,1612055012
388,boromo,11.7500,-2.9333,72.52,20,0,7.09,BF,1612055112
427,inhambane,-23.8650,35.3833,78.12,80,0,5.64,MZ,1612055120
434,niamey,13.5137,2.1098,73.40,15,0,5.75,NE,1612055121
488,ambovombe,-25.1667,46.0833,77.22,78,0,5.39,MG,1612055132
506,manacapuru,-3.2997,-60.6206,75.20,100,0,3.44,BR,1612055136
519,caravelas,-17.7125,-39.2481,75.60,86,0,5.39,BR,1612055138

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [31]:
hotel_df = weather_fit_df[['City','Lat','Lng','Country']].copy()
# weather_fit_df
hotel_df["Hotel Name"]=""
hotel_df

               City      Lat       Lng Country Hotel Name
63             kaeo -35.1000  173.7833      NZ
111      port blair  11.6667   92.7500      IN
149        ambilobe -13.2000   49.0500      MG
218    saint-joseph -21.3667   55.6167      RE
232  saint-philippe -21.3585   55.7679      RE
268         ahipara -35.1667  173.1667      NZ
276         pitimbu  -7.4706  -34.8086      BR
314         jalingo   8.8833   11.3667      NG
326        imbituba -28.2400  -48.6703      BR
363         kangaba  11.9333   -8.4167      ML
381    saint-pierre -21.3393   55.4781      RE
388          boromo  11.7500   -2.9333      BF
427       inhambane -23.8650   35.3833      MZ
434          niamey  13.5137    2.1098      NE
488       ambovombe -25.1667   46.0833      MG
506      manacapuru  -3.2997  -60.6206      BR
519       caravelas -17.7125  -39.2481      BR

In [26]:
from pprint import pprint

# To get Parameters for gmap
params={
    "radius":5000,
    "types":'lodging',
    "key": g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# To get first Hotel Name nearby each city and add it to dataFrame
for index, row in weather_fit_df.iterrows():
    
    params["location"] = f"{row['Lat']},{row['Lng']}"
    
    response = requests.get(base_url, params=params)
    json_response = response.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = json_response["results"][0]["name"]
    except:
        print("Missing field/result... skipping.")
        pass
    
hotel_df

,City,Lat,Lng,Country,Hotel Name
63,kaeo,-35.1000,173.7833,NZ,Bushido Lodge
111,port blair,11.6667,92.7500,IN,Welcomhotel Bay Island Port Blair
149,ambilobe,-13.2000,49.0500,MG,Hôtel & Restaurant DIANA Ambilobe
218,saint-joseph,-21.3667,55.6167,RE,"""Plantation Bed and Breakfast"
232,saint-philippe,-21.3585,55.7679,RE,"Chambres d'hôte ""La Trinité"""
268,ahipara,-35.1667,173.1667,NZ,Ahipara Holiday Park
276,pitimbu,-7.4706,-34.8086,BR,Reserva do Abiaí
314,jalingo,8.8833,11.3667,NG,Debright Motel
326,imbituba,-28.2400,-48.6703,BR,Praia Hotel Imbituba
363,kangaba,11.9333,-8.4167,ML,Hôtel Mandé
381,saint-pierre,-21.3393,55.4781,RE,Lindsey Hôtel
388,boromo,11.7500,-2.9333,BF,Sama Camp
427,inhambane,-23.8650,35.3833,MZ,Oceano
434,niamey,13.5137,2.1098,NE,Soluxe Hotel Niamey
488,ambovombe,-25.1667,46.0833,MG,RELAHARA
506,manacapuru,-3.2997,-60.6206,BR,Novo Hotel
519,caravelas,-17.7125,-39.2481,BR,Pousada dos Navegantes

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [35]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=4,
    info_box_content=hotel_info
)

# Display figure
fig.add_layer(markers)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))