# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
file_path = "../WeatherPy/output_data/cities.csv"

cities_df = pd.read_csv(file_path)
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,dolores,-36.3132,-57.6792,290.09,67,0,3.11,AR,1.611795e+09
1,cape town,-33.9258,18.4232,292.04,68,0,7.20,ZA,1.611794e+09
2,bluff,-46.6000,168.3333,284.26,76,100,8.05,NZ,1.611795e+09
3,odlabari,26.8333,88.6167,287.39,51,0,2.06,IN,1.611795e+09
4,arraial do cabo,-22.9661,-42.0278,298.34,80,100,12.73,BR,1.611795e+09
...,...,...,...,...,...,...,...,...,...
573,arlit,18.7369,7.3853,289.02,28,0,2.27,NE,1.611795e+09
574,ouegoa,-20.3500,164.4333,303.17,60,51,5.07,NC,1.611795e+09
575,san roque,36.2107,-5.3842,288.15,88,88,3.09,ES,1.611795e+09
576,kinablangan,7.6947,126.5503,300.17,72,99,2.78,PH,1.611794e+09
577,mirador,-6.3708,-44.3631,296.42,91,100,1.52,BR,1.611795e+09

In [4]:
import requests
import json


target_city = "Boise, Idaho"

target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, g_key)

response = requests.get(target_url)
print(response)

json_response = response.json()
print(json_response)

<Response [200]>
{'results': [{'address_components': [{'long_name': 'Boise', 'short_name': 'Boise', 'types': ['locality', 'political']}, {'long_name': 'Ada County', 'short_name': 'Ada County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Idaho', 'short_name': 'ID', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'Boise, ID, USA', 'geometry': {'bounds': {'northeast': {'lat': 43.6898951, 'lng': -116.1019091}, 'southwest': {'lat': 43.511717, 'lng': -116.3658869}}, 'location': {'lat': 43.6150186, 'lng': -116.2023137}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 43.6898951, 'lng': -116.1019091}, 'southwest': {'lat': 43.511717, 'lng': -116.3658869}}}, 'place_id': 'ChIJnbRH6XLxrlQRm51nNpuYW5o', 'types': ['locality', 'political']}], 'status': 'OK'}

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [84]:
locations = cities_df[['Lat','Lng']]
locations

         Lat       Lng
0   -36.3132  -57.6792
1   -33.9258   18.4232
2   -46.6000  168.3333
3    26.8333   88.6167
4   -22.9661  -42.0278
..       ...       ...
573  18.7369    7.3853
574 -20.3500  164.4333
575  36.2107   -5.3842
576   7.6947  126.5503
577  -6.3708  -44.3631

[578 rows x 2 columns]

In [85]:
humidity_cities = cities_df['Humidity']
humidity_cities
# cities_df['Humidity'].max()

0      67
1      68
2      76
3      51
4      80
       ..
573    28
574    60
575    88
576    72
577    91
Name: Humidity, Length: 578, dtype: int64

In [93]:
# Plot Heatmap
fig = gmaps.figure(center=(0,0),zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_cities, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2, opacity=0.6)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [96]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don’t contain all three conditions. You want to be sure the weather is ideal.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure